@import "../../../theme/variables.scss";
.offer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  .header {
    padding-top: 15px;
    display: flex;
    align-items: center;
    background-color: $title;
    @include mobile-point(md) {
      padding-top: 30px;
    }
    &__wrapper {
      padding-left: 20px;
      padding-right: 20px;
      @include mobile-point(md) {
        padding-left: 40px;
        padding-right: 40px;
      }
    }
    &__logo {
      svg {
        width: auto;
        height: 32px;
        @include mobile-point(md) {
          height: 40px;
        }
        @include mobile-point(sm) {
        }
      }
    }
  }
  .main {
    flex: 1 1 auto;
    position: relative;
    .summary {
      background-color: $title;
      padding-top: 30px;
      padding-bottom: 100px;
      &__title {
        font-size: 30px;
        font-weight: 700;
        color: #fff;
        text-align: center;
        @include mobile-point(md) {
          font-size: 48px;
        }
      }
      &__name {
        display: block;
        font-size: 30px;
        font-weight: 700;
        font-family: Abhaya Libre, serif;
        text-align: center;
        color: $button-background;
        @include mobile-point(md) {
          font-size: 48px;
        }
      }
      &__graph {
        margin: 0 auto;
        margin-top: 20px;
        width: 100%;
        @include mobile-point(xs) {
          max-width: 400px;
        }
        @include mobile-point(md) {
          max-width: 600px;
          margin-top: 40px;
        }
      }
    }
    .plan {
      padding: 64px 0;
      position: relative;
      background-color: $plan-background;
      &__edge {
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 100%;
        height: 60px;
        background: linear-gradient(
          to left top,
          #fcf3ea 50%,
          #fcf3ea calc(50% + 1px),
          transparent calc(50% + 2px)
        );
      }
      &__container {
        display: flex;
        flex-direction: column;
        @include mobile-point(md) {
          flex-direction: row;
        }
      }
      &__calendar {
        @include mobile-point(md) {
          flex: 0 1 50%;
        }
      }
      .calendar {
        margin-top: -100px;
        &__wrapper {
          position: relative;
          margin: 0 auto;
          width: 100%;
          max-width: 85%;
          @include mobile-point(sm) {
            max-width: 400px;
          }
          @include mobile-point(md) {
            max-width: 300px;
          }
          @include mobile-point(lg) {
            max-width: 350px;
          }
        }
        &__image {
          position: relative;
          top: 0;
          left: 0;
          width: 100%;
          height: auto;
          object-fit: cover;
          z-index: 4;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 17px;
        }
        &__page {
          background-color: #fdfbf9;
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0px;
          left: 0px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 17px;
          transition: transform 2s ease;
          &_1 {
            transform: rotate(2deg);
            z-index: 1;
          }
          &_2 {
            transform: rotate(4deg);
            z-index: 2;
          }
          &_3 {
            transform: rotate(6deg);
            z-index: 3;
          }
        }
      }
      &__description {
        margin-top: 40px;
        @include mobile-point(md) {
        }
      }
      .description {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include mobile-point(md) {
          align-items: flex-start;
          flex: 0 1 50%;
          margin-top: -10px;
        }
        &__title {
          color: #293358;
          font-size: 30px;
          font-weight: 700;
          text-align: center;
          margin-bottom: 15px;
          @include mobile-point(md) {
            font-size: 48px;
            text-align: left;
          }
        }
        &__item {
          position: relative;
          padding-top: 4px;
          padding-left: 32px;
          margin-bottom: 16px;
          @extend %font-family-regular;
          color: $regular;
          font-size: 16px;
          @include mobile-point(md) {
          }
          &:before {
            content: "";
            position: absolute;
            top: 2px;
            left: 2px;
            display: block;
            width: 18px;
            height: 18px;
            background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTkiIHZpZXdCb3g9Ii0yIC0yIDIyIDIyIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0yIDEwLjgyNjFMNi4yNjA4NyAxNkM4Ljk4MDYyIDkuNTE2NTMgMTEuMDcwMSA2LjM5OTMxIDE2IDIiIHN0cm9rZT0iI0Q1NkI1MCIgc3Ryb2tlLXdpZHRoPSIzIi8+PC9zdmc+)
              50% no-repeat;
            background-size: contain;
          }
        }
      }
    }
    .steps {
      background-color: $plan-background;
      padding: 40px 0;
      &__title {
        color: #293358;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 15px;
        @include mobile-point(md) {
          font-size: 48px;
        }
      }
      &__list {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include mobile-point(md) {
          flex-direction: row;
        }
      }
      &__item {
        width: 100%;
        padding: 0px 10px;
        margin-top: 15px;
        @include mobile-point(md) {
          margin-top: 0;
          padding: 0px 20px;
        }
      }
      &__description {
        @extend %font-family-regular;
        color: $regular;
        font-size: 16px;
        text-align: center;
        margin-top: 10px;
        @include mobile-point(sm) {
          width: 60%;
          margin: 0 auto;
          margin-top: 15px;
        }
        @include mobile-point(md) {
          width: 90%;
        }
      }
      &__img {
        width: 90%;
        margin: 0 auto;
        @include mobile-point(sm) {
          width: 70%;
        }
        @include mobile-point(md) {
          width: 90%;
        }
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .books{
        background-color: #fcf3ea;
    padding-top: 50px;
    padding-bottom: 900px;
    &__wrapper{
        overflow: hidden;
    }
    &__row{
        display: flex;
      margin-bottom: 30px;
    }
    .book{
        display: block;
      background-color: #fcf3ea;
      box-shadow: 0 2px 3px #ccada6;
      margin-right: 25px;
    //   width: 112px;
    //   height: 172px;
      width: 60px;
      height: 90px;
      transition: transform 0.5 ease;
    }
    &__row-1 {
        padding-top: 5px;
        .book {
          transform: translateX(-100px) rotate(-4deg) translateZ(0px);
        }
      }
      &__row-2 {
        .book {
          transform: translateX(-150px) rotate(4deg) translateZ(0px);
        }
      }
  
      &__row-3 {
        .book {
          transform: translateX(-100px) rotate(-4deg) translateZ(0px);
          //will-change: transform;
        }
      }
    }
  }
  .footer {
  }
}
