@import "../../../../theme/variables.scss";
.check-multi {
  width: 100%;
  height: 100%;
  &-label {
    display: block;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
  &-input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    &:checked + .check-multi-box {
      .check-multi-card {
        background-color: $answer-background;
        border-color: $answer-border;
      }
      .check-multi-card__check-box {
        background-color: $answer-border;
        border-color: $answer-border;
        .check-multi-card__check-mark {
          opacity: 1;
        }
      }
    }
    &:hover + .check-multi-box {
      .check-multi-card {
        box-shadow: $custom-gray-shadow;
      }
      .check-multi-card__check-box {
        border-color: $regular-hover;
      }
    }
  }
  &-box {
    height: 100%;
  }
  &-card {
    display: flex;
    justify-content: center;
    position: relative;
    @extend %check-card;
    @include breakpoint(md) {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }
    @include breakpoint(md) {
      padding: 15px;
    }
    &__title {
      @extend %card-title;
    }
    &__text {
      color: $regular;
      text-align: center;
      @include breakpoint(md) {
        margin-left: 20px;
      }
    }
    &__text-wrapper {
      text-align: center;
      @include breakpoint(md) {
        margin-left: 20px;
        text-align: left;
      }
    }
    &__img {
      width: 25%;
      height: auto;
      margin-bottom: 20px;
      @include breakpoint(md) {
        width: 30px;
        margin-bottom: 0;
      }
    }
    &__img-multiple {
      position: absolute;
      bottom: 0px;
      width: 90%;
      height: auto;
      margin-top: auto;
      & img {
        @include breakpoint(md) {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          object-fit: cover;
        }
      }
      @include breakpoint(md) {
        width: 90px;
        height: 90%;
        margin-bottom: 0;
        left: 0px;
      }
    }
    &__description {
      @extend %card-description;
    }
    &__check-box-container {
      padding: 20px 0;
      display: flex;
      justify-content: center;
      position: relative;
      @include breakpoint(md) {
        margin-left: auto;
        padding: 10px;
      }
    }
    &__check-box {
      position: absolute;
      bottom: -80px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $regular;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      transition: border-color 0.3s ease, background-color 0.3s ease;
      @include breakpoint(lg) {
        bottom: -70px;
      }
      @include breakpoint(md) {
        position: sticky;
        width: 20px;
        height: 20px;
      }
    }
    &__check-mark {
      opacity: 0;
      display: block;
      width: 8px;
      height: 8px;
    }
  }
}
.check-multi-card.changed {
  justify-content: center;
}
.check-multi-card__text-wrapper.changed {
  @include breakpoint(md) {
    margin-left: 0px;
    text-align: center;
  }
}
.check-multi-card__text.changed {
  margin-top: 10px;
  margin-bottom: auto;
  @include breakpoint(md) {
    margin: 0;
    margin-left: 90px;
  }
  @include breakpoint(xs) {
    margin-left: 80px;
  }
}
