@import "../../../theme/variables.scss";
.progress-nav{
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    @include breakpoint(md) {
      flex-direction: column-reverse;
      padding: 0 20px;
      padding-top: 10px;
      max-width: 100%;
    }
    &__wrapper{
        display: flex;
    justify-content: space-between;
    @include breakpoint(md) {
      margin-top: 10px;
    }
    }
    &__logo{
      svg {
        display: none;
        width: auto;
        height: 40px;
        @include breakpoint(md){
          display: block;
          height: 25px;
        }
      }
    }
    &__btn{
        display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
    &:hover{
        .btn-icon path{
            fill: $answer-border;
        }
        .btn-text{
            color: $answer-border;
        }
    }
    .btn-icon{
        margin-bottom: 4px;
      & path {
        transition: fill 0.3s ease, opacity 0.3s ease;
      }
    }
    .btn-text{
        color: $regular-ligth;
      font-weight: 600;
      transition: color 0.3s ease, opacity 0.3s ease;
    }
    }
    .count-area{
        color: $regular-ligth;
        .current-question, .all-question{
            color: $regular-ligth;
            @extend %font-size-regular;
        }
    }
    .grey-line {
        margin-top: 5px;
        position: relative;
        width: 100%;
        height: 4px;
        background-color: $gray-line;
        border-radius: 2px;
      }
      .green-line {
        position: absolute;
        height: 4px;
        background-color: $answer-border;
        border-radius: 2px;
        transition: width 0.2s ease-in-out;
      }
}